.home-route-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
}
.teams-list-container {
  width: 90%;
  max-width: 1110px;
}
.ipl-dashboard-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-image {
  height: 60px;
  width: 80px;
}

.heading {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
.teams-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
